body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;  /* Light background color */
  }
  
  header {
    background-color: #333;  /* Dark header background */
    color: #fff;  /* White text color */
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  nav {
    background-color: #eee;  /* Light navigation background */
    padding: 10px;
    display: flex;
    justify-content: space-around;  /* Center navigation links */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 30px;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 20;
    border-style: none;
    border-radius: 20px;
  }
  .web{
    background-color: rgb(196, 184, 223);
  }
  .application{
    background-color: rgb(160, 186, 216);
  }
  .game{
    background-color: rgb(144, 219, 160);  
  }


  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .intro p {
    line-height: 1.5;  /* Increase line spacing for readability */
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .skills ul {
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    margin-bottom: 5px;
  }
  .projectlink{
    text-decoration: none;
    color: black;
  }
  
  section div{
    display: flex;
  }
  footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    background-color: rgb(179, 179, 179);
    padding: 6px;
  }