body,tr,button{
    background-color: rgb(53, 54, 71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25;
}
.result{
    color: white;
    padding: 10;
}
table{
    width: 100%;
    height: 100%;
}
button{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 43, 58);
    border-color: rgb(0, 0, 0);
    border-radius: 10%;
    padding-top: 5;
    padding-bottom: 5;
}
.cyanbutton{
    color: cyan;
}
.whitebutton{
    color: white;
}